h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background: linear-gradient(45deg, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 5px;
  margin: 2px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn1 {
  background: linear-gradient(45deg, blue, brown);
  padding: 10px;
  width: 25%;
  font-size: 30px;
}
#btn2 {
  background: linear-gradient(45deg, brown, blue);
  padding: 10px;
  width: 30%;
  font-size: 30px;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background: linear-gradient(45deg, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}
